body 
{
  background-color: #C0FDFF;
  color: #E2AFFF; 
  background-image: url('https://image.freepik.com/free-photo/dark-blue-wooden-wall-texture_53876-97242.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}

.container
{
  margin-right: 10%;
  margin-left: 10%;
}

.row
{
  overflow: hidden;
  margin-top: 300px;
  font-size: 30px;
}

header
{
  height: 100px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  background-image: url("https://image.freepik.com/free-photo/blue-alarm-clock-fork-knife-colored-paper-background-intermittent-fasting-concept-horizontal-banner-image_107210-1174.jpg");
  background-attachment:unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.4s;
  position: fixed;
  top: 0;
  z-index: 1;
  height: auto;
  border-radius: 4px;
}
 
header a 
{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
 
header #logo 
{
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  width: 20%;

}
  
header a:hover 
{
  background-color: #ddd;
  color: black;
}
  
header a.active 
{
  background-color: dodgerblue;
  color: white;
}
  
#navbar-right 
{
  float: right;
  font-size: x-large;
  margin-right: 10%;
  margin-top: 5%;
}

.dropdown 
{
  position: relative;
  display: inline-block;
}
  
.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 2;
  text-align: left;
}
  
.dropdown:hover .dropdown-content 
{
  display: block;
  background: #9006;
}

.column111 
{
  float: left;
  width: 30%;
  padding: 10px;
}

.container
{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 250px;
}

.responsive-iframe 
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.youtube 
{
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.column21_2
{
  float: left;
  width: 60%;
  padding: 10px;
}

.column21_1
{
  float: left;
  width: 30%;
  padding: 10px;
}


.column_p
{
  margin-left: 5px;
}

.photo_series
{
  display: inline-flex;
  overflow: scroll;
  width: 100%;
}

.photo_series::-webkit-scrollbar
{
  display: none;
}

.column1111 
{
  float: left;
  width: 20%;
  font-size: x-large;
  padding: 2.5%;
  text-align: start;
}

.box
{
  background-color: #616161af;
  margin:0%;
  width: 100%;
}

footer
{
  background-color: #616161af;
  overflow: hidden;
  width: 100%;
}

.box0
{
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  overflow: hidden;
}

.bottom-fixed
{
  
  position: fixed;
  width: 100%;
  margin: 0;    
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
  background: #fff;
  padding: 6px 0;
  box-shadow: 0 0 3px;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.responsive1 {
  width: 80%;
  height: auto;
  border-radius: 7px;
}

.responsive
{
  height: 250px;
}

.box0
{
  margin-bottom: 60px;
}

@media screen and (max-width: 1080px )
{
  .column111 
{
  float: left;
  width: 80%;
  padding: 0px;
  font-size: 30px;
}

.container
{
  font-size: 30px;
}

.responsive
{
  height: 225px;
}

.row
{
  margin-top: 300px;
}

.column1111
{
  width: 40%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.box0
{
  margin-bottom: 75px;
}

footer
{
  font-size: 25px;
}

}

@media screen and (max-width: 600px )
{

header a 
{
  float: left;
  color: black;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 12px; 
  line-height: 18px;
  border-radius: 2px;
}
 
header #logo 
{
  font-size: 20px;
  font-weight: bold;
  transition: 0.4s;
}

.column111,.column21_1,.column21_2 
{
  float: left;
  width: 80%;
  font-size: 25px;
  padding: 0px;
}

.responsive
{
  height: 150px;
}

footer
{
  font-size: 20px;
}

header #navbar-right
{
  margin-right: 25px;
  width: 30%;
  overflow: hidden;
}

}

@media screen and (max-width: 510px) 
{

  header a 
  {
    float: left;
    color: black;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 10px; 
    line-height: 18px;
    border-radius: 2px;
  }
   
  header #logo 
  {
    font-size: 10px;
    font-weight: bold;
    transition: 0.4s;
  }
  
    .column111,.column21_1,.column21_2
  {
    float: left;
    width: 80%;
    font-size: 15px;
    padding: 0px;
  }

  header #navbar-right
  {
    margin-right: 20px;
  }
  
  .column1111
  {
    font-size: 5px;
    overflow: hidden;
  }
  footer
  {
    font-size: 10px;
  }
  
  .responsive
  {
    height: 100px;
  }

  .box0
  {
    margin-bottom: 35px;
  }

.row
{
  margin-top: 200px;
}
}